@model MOBILUX.Data.NhanVien

@{
    ViewData["Title"] = "Thêm nhân viên";
    Layout = "_Layoutadmin";
}

<h2 class="mb-4">Thêm Nhân viên</h2>

<form asp-action="ThemNhanVien" method="post" >
    <input type="hidden" name="MatKhau" value="888999" />

    <div class="form-group mb-4">
        <label asp-for="TenNv"> Tên Nhân Viên</label>
        <input asp-for="TenNv" class="form-control" placeholder="Nhập họ tên nhân viên" />
        <span asp-validation-for="TenNv" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Thêm nhân viên</button>
    <a asp-action="QuanLyNhanVien" class="btn btn-secondary">Quay lại</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
