

<footer id="footer">
	<!--Footer-->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="companyinfo">
						<h2><span>M</span>obilux</h2>
						<p>Đem đến cho bạn những chiếc smartphone chính hãng với mức giá không thể tốt hơn.</p>
					</div>
				</div>
				<div class="col-sm-7">
					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://youtu.be/7yi8y2M7xK8?si=Btf3MrC6UrbXsRIG">
								<div class="iframe-img">
									<img src="~/images/Phone/sss25u.png" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Review Galaxy S25 Ultra</p>
							
						</div>
					</div>

					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://youtu.be/bPkenYE4qzw?si=RopPoYehM_lYSkdB">
								<div class="iframe-img">
									<img src="~/images/Phone/ip16pm.jpg" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Review Iphone 16 promax</p>
							
						</div>
					</div>

					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://youtu.be/GntJXsOLU10?si=lHWUk4MfLWjViqt1">
								<div class="iframe-img">
									<img src="~/images/Phone/sss24u.jpg" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>Review Samsung S24 Ultra</p>
							
						</div>
					</div>

					<div class="col-sm-3">
						<div class="video-gallery text-center">
							<a href="https://youtu.be/L6S9cEzNspc?si=uTiipGCDrLj37TXp">
								<div class="iframe-img">
									<img src="~/images/Phone/t14.jpg" alt="" />
								</div>
								<div class="overlay-icon">
									<i class="fa fa-play-circle-o"></i>
								</div>
							</a>
							<p>review Xiaomi 14T 5G</p>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Thương hiệu</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a asp-controller="SanPham" asp-action="Index" asp-route-loai="1">Apple</a></li>
							<li><a asp-controller="SanPham" asp-action="Index" asp-route-loai="2">SamSung</a></li>
							<li><a asp-controller="SanPham" asp-action="Index" asp-route-loai="3">XiaoMi</a></li>
							<li><a asp-controller="SanPham" asp-action="Index" asp-route-loai="4">Oppo</a></li>
							<li><a asp-controller="SanPham" asp-action="Index" asp-route-loai="5">Vivo</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Dịch Vụ</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a asp-controller="SanPham" asp-action="Index">Sản phẩm</a></li>
							
						</ul>
						
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Địa chỉ</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a>256 Nguyễn Văn Cừ, An Hòa, Cần Thơ</a></li>

						</ul>
					</div>
				</div>
				
				
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Điện thoại</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a>0899069754</a></li>
							<li><a>0869899019</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Email</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a>nnthicntt2211029@student.ctuet.edu.vn</a></li>
							<li><a>tttkieucntt2211013@student.ctuet.edu.vn</a></li>
							<li><a>nkphungcntt2211048@student.ctuet.edu.vn</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				
			</div>
		</div>
	</div>

</footer><!--/Footer-->