@model MOBILUX.ViewModels.LoginVM
@{
    ViewData["Title"] = "DangNhap";
}

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh; /* Chiều cao vừa đủ để căn giữa */
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        padding: 30px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

        .login-form h2 {
            margin-bottom: 20px;
        }

        .login-form button {
            margin-top: 20px;
        }
</style>

<section id="form">
    <div class="container login-container">
        <div class="login-form">
            <h2>Đăng nhập</h2>
            <form asp-action="DangNhap" method="post">
                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="form-group">
                    <input asp-for="UserName" class="form-control" placeholder="Mã đăng nhập hoặc số điện thoại" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-warning">Đăng nhập</button>
            </form>
        </div>
    </div>
</section>
